.font-size-10px {
  font-size: 10px;
}
.color-228be6 {
  color: #e67700;
  @extend font-size-10px !Optional;
}
.myprofile {
  position: absolute;
  left: 30px;
  top: 7px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 1px 15px;
  border-radius: 7px;
}
.profile {
  position: absolute;
  top: 1px;
  right: 25px;
}
.font-size-20px {
  font-size: 20px;
  letter-spacing: 1px;
}
a i {
  font-size: 20px;
  color: #e67700;
}
h1 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #777;
  line-height: 60px;
  letter-spacing: 2px;
}

h1 span {
 // color: #1b6fb8;
  font-size: 20px;
  letter-spacing: 5px;
  font: bold 25px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  //text-shadow: 0 -3px 0px #fff, 0px 4px 8px rgba(0,0,0,0.35), 0px 3px 30px rgba(0,0,0,0.15);
  color: #fff9db;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
 //-webkit-transition: 0.2s all linear;
}
