.heart{
    height: 85vh;
    overflow: auto;
}
.footer{
    height: 15vh;
}
.bg-color-color-heart{
    background-color: var(--color-heart-bg);
}
.bg-color-color-footer{
    background-color: var(--color-footer-bg);
}
