<div class="container ">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-group mb-0">
        <div class="card p-2">
          <div class="card-header text-align-center">
            <h2>User Management</h2>
            <small *ngIf="titleAction$ | async as title">{{ title }}</small>
          </div>
          <div class="card-body" [hidden]="!canView">
            <!-- Navigatiom-->

            <mat-tab-group (selectedTabChange)="onTabChange($event)">
              <mat-tab label="Users">
                <div class="tab-pane fade show active mt-4" id="users">
                  <div class="mb-3 row">
                    <div class="col-md-4"></div>
                    <button
                    type="button"
                    class="col-md-2 btn btn-info"
                    data-toggle="modal"
                    data-target="addUserModal"
                    (click)="open(addUserModal)"
                    [hidden]="!canprint"
                  >
                    <i class="fa fa-print"></i>&nbsp;print
                  </button>
                    <form
                      #searchForm="ngForm"
                      class="col-md-3 form-inline my-2 my-lg-0 justify-content-center"
                    >
                      <input
                        #searchTerm
                        name="searchTerm"
                        class="form-control mr-sm-2"
                        ngModel
                        (keyup)="searchUsers(searchForm.value.searchTerm)"
                        type="search"
                        placeholder="Search Users...."
                      />
                    </form>
                    <button
                      type="button"
                      class="col-md-2 btn btn-info"
                      data-toggle="modal"
                      data-target="addUserModal"
                      (click)="open(addUserModal)"
                      [hidden]="!canAdd"
                    >
                      <i class="fa fa-plus"></i>&nbsp;New user
                    </button>
                    <div class="col-md-1 btn-group">
                      <button
                        type="button"
                        class="btn btn-info"
                        data-toggle="modal"
                        data-target="addUserModal"
                        (click)="getUsers(true,myRole)"
                      >
                        <i *ngIf="refreshing" class="fa fa-sync fa-spin"></i
                        ><i *ngIf="!refreshing" class="fa fa-sync"></i>
                      </button>
                    </div>
                  </div>
                  <table class="table table-hover">
                    <thead class="table-borderless">
                      <tr class="text-center">
                        <th>photo</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let appuser of users">
                      <tr class="text-align-center">
                        <td (click)="onSelectUser(appuser, viewUserModal)">
                          <img
                            height="40"
                            width="40"
                            src="{{ appuser?.profileImage }}"
                            class="rounded-circle img-fluid img-thumbnail"
                            alt=""
                          />
                        </td>
                       
                        <td (click)="onSelectUser(appuser, viewUserModal)">
                          {{ appuser?.firstName }}
                        </td>
                        <td (click)="onSelectUser(appuser, viewUserModal)">
                          {{ appuser?.lastName }}
                        </td>
                        <td (click)="onSelectUser(appuser, viewUserModal)">
                          {{ appuser?.userName }}
                        </td>
                        <td (click)="onSelectUser(appuser, viewUserModal)">
                          {{ appuser?.email }}
                        </td>
                        <td (click)="onSelectUser(appuser, viewUserModal)">
                          <div
                            [hidden]="!appuser?.active"
                            class="badge bg-success"
                          >
                            Active
                          </div>
                          <div
                            [hidden]="appuser?.active"
                            class="badge bg-danger"
                          >
                            Inactive
                          </div>
                        </td>
                        <td class="">
                          <div class="btn-group">
                            <button
                            [hidden]="!canEdit"
                              (click)="onEditUser(appuser); open(editUserModal)"
                              class="btn btn-outline-info"
                            >
                              <i class="fas fa-edit"></i>
                            </button>
                            <button
                            [hidden]="!canDelete"
                              (click)="onDeleteUser(appuser.userName)"
                              class="btn btn-outline-danger"
                            >
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <button
                      [hidden]="true"
                      type="button"
                      id="openUserInfo"
                      data-toggle="modal"
                      data-target="viewUserModal"
                    ></button>
                    <button
                      [hidden]="true"
                      type="button"
                      id="openUseredit"
                      data-toggle="modal"
                      data-target="editUserModal"
                    ></button>
                  </table>
                </div>
              </mat-tab>
              <!-- comment profile and settings -->
              <!-- <mat-tab label="Settings">
                <div class="row">
                  <div class="col-md-12">
                    <form
                      #resetPAsswordForm="ngForm"
                      (ngSubmit)="onResetPassword(resetPAsswordForm)"
                    >
                      <fieldset>
                        <legend>User Password Management</legend>
                        <div class="form-group flex-box flex-direction-column">
                          <label class="exampleInputEmail1"
                            >Email Address
                          </label>
                          <input
                            type="email"
                            name="reset-password-email"
                            required
                            ngModel
                            class="form-control"
                            placeholder="Enter  Email (example@email.com)"
                          />
                          <small class="form-text text-muted">
                            We ll Never Share Your Email with anyone Else</small
                          >
                          <button
                            type="submit"
                            [disabled]="false"
                            class="btn bg-color-color-main border-none botton-shadow btn-primary active"
                          >
                            <i *ngIf="refreshing" class="fa fa-spinner"></i
                            >&nbsp;&nbsp;
                            <span *ngIf="showLoading">Loading.....</span>
                            <span *ngIf="!refreshing">Reset Password</span>
                          </button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </mat-tab> -->
              <!-- <mat-tab label="profile">

                <div class="grid grid-col-2 mt-2">
                  <div>
                    <form
                      ngForm
                      class="form-horizontal width-80p"
                      #editform="ngForm"
                      (ngSubmit)="onEditUserSubmit(editform)"
                    >
                      <div class="flex-box flex-gap-5px">
                        <div
                          class="flex-box flex-direction-column flex-gap-5px file-upload-icon-input"
                        >
                          <img
                            ngDefaultControl
                            height="150"
                            width="150"
                            [ngModelOptions]="{ standalone: true }"
                            [src]="imagePath"
                            [(ngModel)]="imagePath"
                            class="img-fluid img-thumbnail"
                            alt=""
                          />
                          <span class="color-red">{{ fileName }}</span>

                          
                          <input
                            id="fileSelector"
                            type="file"
                            name="profileImage"
                            [(ngModel)]="editUser.profileImage"
                            class="custom-file-input"
                            (change)="onProfileImageChange($event)"
                            [hidden]="true"
                            accept="image/*"
                          />
                        </div>

                        <div class="flex-box flex-direction-column">
                          <h3 class="text-capitalize">
                            {{ editUser.firstName + " " + editUser.lastName }}
                          </h3>
                          <span class="text-capitalize">{{ editUser.userName }}</span>
                          <small class="form-text text-muted"
                            >Last Login : {{ editUser.lastLoginDate }}</small
                          >
                          <button
                            typ
                            class="btn bg-color-color-main border-none btn-primary active mt-3  "
                            (click)="openFileLocal()"
                          >
                            Edit profileImage
                          </button>
                        </div>
                      </div>
                      <div class="custom-input mt-3">
                        <div class="form-group mb-2">
                          <label for="firstName">First Name</label>
                          <div class="col-sm-10">
                            <input
                              type="text"
                              class="form-control"
                              name="firstName"
                              required
                              [(ngModel)]="editUser.firstName"
                              #firstNameInput="ngModel"
                              placeholder="first Name"
                            />
                          </div>
                        </div>
                        <span
                          class="color-red"
                          *ngIf="
                            firstNameInput.invalid && firstNameInput.touched
                          "
                          >***
                        </span>
                      </div>
                      <div class="custom-input">
                        <div class="form-group mb-2">
                          <label for="lastName">Last Name</label>
                          <div class="col-sm-10">
                            <input
                              type="text"
                              class="form-control"
                              name="lastName"
                              required
                              [(ngModel)]="editUser.lastName"
                              #lastNameInput="ngModel"
                              placeholder="Last Name"
                            />
                          </div>
                        </div>
                        <span
                          class="color-red"
                          *ngIf="lastNameInput.invalid && lastNameInput.touched"
                          >***
                        </span>
                      </div>
                      <div class="custom-input">
                        <div class="form-group mb-2">
                          <label for="userName">User Name</label>
                          <div class="col-sm-10">
                            <input
                              type="text"
                              name="userName"
                              class="form-control"
                              required
                              [(ngModel)]="editUser.userName"
                              #usernameInput="ngModel"
                              placeholder="User Name"
                            />
                          </div>
                        </div>
                        <span
                          class="color-red"
                          *ngIf="usernameInput.invalid && usernameInput.touched"
                          >****
                        </span>
                      </div>
                      <div class="custom-input">
                        <div class="form-group mb-2">
                          <label for="email">Email</label>
                          <div class="col-sm-10">
                            <input
                              type="email"
                              class="form-control"
                              required
                              [(ngModel)]="editUser.email"
                              name="email"
                              #emailInput="ngModel"
                              placeholder="email"
                            />
                          </div>
                        </div>
                        <span
                          class="color-red"
                          *ngIf="emailInput.invalid && emailInput.touched"
                          >****
                        </span>
                      </div>
                      <div class="form-group mb-2 col-sm-10" >
                        <label for="authority">Role</label>
                        <select
                          name="role"
                          required
                          [(ngModel)]="editUser.userRole"
                          class="form-control"
                        >
                          <option *ngFor="let role of userRoles" value="{{role}}">{{role.roleDescription}}</option>
                         
                        </select>
                      </div>
                      <div class="form-group" >
                        <label for="authority">Role</label>
                        <input
                          type="text"
                          name="role"
                          required
                          ngModel="USER"
                          readonly
                          class="form-control"
                        />
                      </div>

                      <div class="grid grid-col-2">

                        <fieldset class="form-group">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                type="checkbox"
                                name="active"
                                [(ngModel)]="editUser.active"
                                class="form-check-input"
                              />
                              Active
                            </label>
                          </div>
                          <div class="form-check disabled">
                            <label class="form-check-label">
                              <input
                                type="checkbox"
                                name="notLocked"
                                [(ngModel)]="editUser.notLocked"
                                class="form-check-input"
                              />
                              unlocked
                            </label>
                          </div>
                        </fieldset>
                        <button
                          id="edituser"
                          [hidden]="true"
                          type="submit"
                        ></button>
                        <div>
                          <button
                            type="submit"
                            [disabled]="editform.invalid || showLoading"
                            name="button"
                            class="btn bg-color-color-main border-none botton-shadow btn-primary active"
                            (click)="onUpdateUser()"
                          >
                            <i *ngIf="showLoading" class="fa fa-spinner"></i
                            >&nbsp;&nbsp;
                            <span *ngIf="showLoading">Loading.....</span>
                            <span *ngIf="!showLoading">save changes!</span>
                          </button>
                        </div>
                      </div>
                    </form>
                   
                  </div>
                  <div class="flex-box align-items-center height-36p width-30p flex-direction-column flex-gap-20px box-shadow">
                    <!-- <span>Authorities</span>
                    <span *ngFor="let auth of editUser.userRole.authorities">{{
                      auth
                    }}</span> 
                    <i
                      class="fa fa-sign-out color-red"
                      aria-hidden="true"
                      (click)="onLogout()"
                    ></i>
                  </div>
                </div>
              </mat-tab> -->
            </mat-tab-group>
          </div>
          <div [hidden]="canView">
            <div class="flex-box justify-content-center align-items-center flex-direction-column">
              <h4 class="color-red">Access Denied </h4>
              <small class="form-text text-muted">please contact Administration</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--USER DETAILS POP UP MODAL-->
  <ng-template #viewUserModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-capitalize" id="modal-basic-title">
        {{ selectedUser.firstName + " " + selectedUser.lastName }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      
        <div class="grid grid-col-2-20p-1fr flex-gap-5px">
         <div class="flex-box justify-content-center">
          <img
          class=" img-fluid img-thumbnail"
          alt=""
          src="{{ selectedUser.profileImage }}"
          height="200"
          width="250"
        />
         </div>

          <div class="flex-box flex-direction-column">
            <div class="row">
              <span class="col-md-4">User Name</span>
              <span class="col-md-1">:</span>
              <span class="col-md-7 text-capitalize"> {{ selectedUser.userName }}</span>
              
            </div>
           
            <div class="row">
              <span class="col-md-4">E-mail</span>
              <span class="col-md-1">:</span>
              <span class="col-md-7 "> {{ selectedUser.email }}</span>
            </div>
            <div class="row">
              <span class="col-md-4">Status</span>
              <span class="col-md-1">:</span>
              <span class="col-md-7">
                <div [hidden]="!selectedUser.active" class="badge bg-success ">
                  Active
                </div>
                <div [hidden]="selectedUser.active" class="badge bg-danger">
                  Inactive
                </div></span
              >
            </div>
            <div class="row">
              <span class="col-md-4">Role</span>
              <span class="col-md-1">:</span>
              <span class="col-md-7 text-capitalize"> {{ selectedUser.userRole.roleDescription }}</span>
            </div>
            <div class="row">
              <span class="col-md-4">Account </span>
              <span class="col-md-1">:</span>
              <span class="col-md-7">
                <i
                  *ngIf="selectedUser.notLocked"
                  class="fa-solid fa-lock-open color-green"
                ></i
                ><i
                  class="fa-solid fa-lock color-red"
                  *ngIf="!selectedUser.notLocked"
                ></i
              ></span>
            </div>
          </div>
        </div>
     
    </div>
  </ng-template>

  <!--NEW USER  POP UP MODAL-->
  <ng-template #addUserModal let-modal>
    <div >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          New User
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          #closenewuser
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <div class="flex-box">
          <form
            ngForm
            class="form-horizontal width-80p"
            #registerform="ngForm"
            (ngSubmit)="onAddNewUser(registerform)"
          >
            <div class="custom-input">
              <div class="form-group mb-2">
                <label for="firstName">First Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    required
                    ngModel
                    #newFirstNameInput="ngModel"
                    placeholder="first Name"
                  />
                </div>
              </div>
              <span
                class="color-red"
                *ngIf="newFirstNameInput.invalid && newFirstNameInput.touched"
                >***
              </span>
            </div>
            <div class="custom-input">
              <div class="form-group mb-2">
                <label for="lastName">Last Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    required
                    ngModel
                    #newLastNameInput="ngModel"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <span
                class="color-red"
                *ngIf="newLastNameInput.invalid && newLastNameInput.touched"
                >***
              </span>
            </div>
            <input [hidden]="true" name="userRoleId" ngModel>
            <div class="custom-input">
              <div class="form-group mb-2">
                <label for="userName">User Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    name="userName"
                    class="form-control"
                    required
                    ngModel
                    #newUsernameInput="ngModel"
                    placeholder="User Name"
                  />
                </div>
              </div>
              <span
                class="color-red"
                *ngIf="newUsernameInput.invalid && newUsernameInput.touched"
                >****
              </span>
            </div>
            <div class="custom-input">
              <div class="form-group mb-2">
                <label for="email">Email</label>
                <div class="col-sm-10">
                  <input
                    type="email"
                    class="form-control"
                    required
                    ngModel
                    name="email"
                    #newEmailInput="ngModel"
                    placeholder="email"
                  />
                </div>
              </div>
              <span
                class="color-red"
                *ngIf="newEmailInput.invalid && newEmailInput.touched"
                >****
              </span>
            </div>
            <div class="form-group mb-2 col-sm-10" >
              <label for="authority">Role</label>
              <select
              (change)="get($event.target)"
                name="userRole"
                required
                [(ngModel)]="editUser.userRole"
                class="form-control"
              >
                <option *ngFor="let role of userRoles"  value="{{role.roleDescription}}">{{role.roleDescription}}</option>
              
              </select>
            </div>
           
            <div class="flex-box">
              <div
                class="flex-box flex-direction-column flex-gap-5px file-upload-icon-input"
              >
                <i
                  class="fa-solid fa-cloud-arrow-up"
                  (click)="openFileLocal()"
                ></i>
                <input
                  id="fileSelector"
                  type="file"
                  name="profileImage"
                  ngModel
                  class="custom-file-input display-none"
                  (change)="onProfileImageChange($event)"
                  [hidden]="true"
                  accept="image/*"
                />
                <span class="color-red">{{ fileName }}</span>
              </div>

              <div>
                <img
                  ngDefaultControl
                  height="150"
                  name="profileImage"
                  width="150"
                  [ngModelOptions]="{ standalone: true }"
                  [src]="imagePath"
                  [(ngModel)]="imagePath"
                  class="rounded-circle img-fluid img-thumbnail display-none"
                  alt="select image"
                />
              </div>
            </div>

          
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    name="active"
                    ngModel
                    class="form-check-input"
                  />
                  Active
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    name="notLocked"
                    ngModel
                    class="form-check-input"
                  />
                  unlocked
                </label>
              </div>
            </fieldset>
            <button id="newuser" [hidden]="true" type="submit"></button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-3">
          <button
          (click)="cancelForm(registerform)"
            type="submit"
            name="button"
            class="btn bg-color-color-main border-none color-red botton-shadow btn-primary active"
          >
            <span *ngIf="!showLoading">Cancel</span>
          </button>
        </div>
        <div class="col-sm-4">
          <button
            type="submit"
            [disabled]="registerform.invalid || showLoading"
            name="button"
            class="btn bg-color-color-main border-none botton-shadow btn-primary active"
            (click)="onSubmitUser()"
          >
            <i *ngIf="showLoading" class="fa fa-spinner"></i>&nbsp;&nbsp;
            <span *ngIf="showLoading">Loading.....</span>
            <span *ngIf="!showLoading">Register Now !</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <!--EDIT USER TEMPLATE-->
  <ng-template #editUserModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ editUser.firstName + " " + editUser.lastName
        }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        #closeedituser
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="flex-box">
        <form
          ngForm
          class="form-horizontal width-80p"
          #editform="ngForm"
          (ngSubmit)="onEditUserSubmit(editform)"
        >
          <div class="custom-input">
            <div class="form-group mb-2">
              <label for="firstName">First Name</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  required
                 
                  [(ngModel)]="editUser.firstName"
                  #editFirstNameInput="ngModel"
                  placeholder="first Name"
                />
              </div>
            </div>
            <span
              class="color-red"
              *ngIf="editFirstNameInput.invalid && editFirstNameInput.touched"
              >***
            </span>
          </div>
          <div class="custom-input">
            <div class="form-group mb-2">
              <label for="lastName">Last Name</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  required
                  
                  [(ngModel)]="editUser.lastName"
                  #editLastNameInput="ngModel"
                  placeholder="Last Name"
                />
              </div>
            </div>
            <span
              class="color-red"
              *ngIf="editLastNameInput.invalid && editLastNameInput.touched"
              >***
            </span>
          </div>
          <div class="custom-input">
            <div class="form-group mb-2">
              <label for="userName">User Name</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  name="userName"
                  class="form-control"
                  required
                  
                  [(ngModel)]="editUser.userName"
                  #editUsernameInput="ngModel"
                  placeholder="User Name"
                />
              </div>
            </div>
            <span
              class="color-red"
              *ngIf="editUsernameInput.invalid && editUsernameInput.touched"
              >****
            </span>
          </div>
          <div class="custom-input">
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  required
                  [(ngModel)]="editUser.email"
                  name="email"
                  
                  #newEmailInput="ngModel"
                  placeholder="email"
                />
              </div>
            </div>
            <span
              class="color-red"
              *ngIf="newEmailInput.invalid && newEmailInput.touched"
              >****
            </span>
          </div>
          <input name="userRoleId" ngModel [hidden]="true">
          <div class="form-group mb-2 col-sm-10">
            <label for="authority"
              >Role <small ></small
            ></label>
            <select
            (change)="get($event.target)"
              name="userRole"
              required
              [(ngModel)]="editUser.userRole.roleDescription"
             
              class="form-control"
            >
              <option *ngFor="let role of userRoles" [ngValue]="role.roleDescription">{{role.roleDescription}}</option>
              
            </select>
          </div>
          
          <div class="flex-box">
            <div
              class="flex-box flex-direction-column flex-gap-5px file-upload-icon-input"
            >
              <i
                class="fa-solid fa-cloud-arrow-up"
                (click)="openFileLocal()"
              ></i>
              <input
                id="fileSelector"
                type="file"
                name="profileImage"
                [(ngModel)]="editUser.profileImage"
                class="custom-file-input"
                (change)="onProfileImageChange($event)"
                [hidden]="true"
                accept="image/*"
              />
              <span class="color-red">{{ fileName }}</span>
            </div>

            <div>
              <img
                ngDefaultControl
                height="150"
                width="150"
                [ngModelOptions]="{ standalone: true }"
                [src]="imagePath"
                [(ngModel)]="imagePath"
                class="rounded-circle img-fluid img-thumbnail"
                alt=""
              />
            </div>
          </div>

          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  name="active"
                  [(ngModel)]="editUser.active"
                  class="form-check-input"
                 
                />
                Active
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  name="notLocked"
                  [(ngModel)]="editUser.notLocked"
                  class="form-check-input"
                  
                />
                unlocked
              </label>
            </div>
          </fieldset>
          <button id="edituser" [hidden]="true" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-3">
        <button
        (click)="cancelForm(editform)"
          type="submit"
          name="button"
          class="btn bg-color-color-main border-none color-red botton-shadow btn-primary active"
        >
          <span *ngIf="!showLoading">Cancel</span>
        </button>
      </div>
      <div class="col-sm-4">
        <button
          type="submit"
          [disabled]="editform.invalid || showLoading"
          name="button"
          class="btn bg-color-color-main border-none botton-shadow btn-primary active"
          (click)="onUpdateUser()"
        >
          <i *ngIf="showLoading" class="fa fa-spinner"></i>&nbsp;&nbsp;
          <span *ngIf="showLoading">Loading.....</span>
          <span *ngIf="!showLoading">Edit Now !</span>
        </button>
      </div>
    </div>
  </ng-template>
</div>
