<div class="container height-100p">
  <div
    class="height-100p flex-gap-20px flex-box justify-content-center align-items-center" 
  >
    <!-- <div class="card" (click)="onclick('company')">
      <img
        src="../../../../../assets/company.png"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Company Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('user')">
      <img
        src="../../../../../assets/users.jfif"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>User Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('module')">
      <img 
        src="../../../../../assets/module.jpg"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Module Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('privilegesAccess')">
      <img 
        src="../../../../../assets/privilegesAccess.jpg"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Privileges Access</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    -->
  
     
      <div *ngFor="let module of moduleAccess" class="card" (click)="onclick(module.modulePath)">
        <img 
          src="../../../../../assets/{{module.modulePath}}.jpg"
          alt="Avatar"
          style="width: 100%; height: 70%"
        />
        <div class="container-card">
          <h4><b>{{module.moduleDescription}}</b></h4>
          <p><small class="form-text text-muted">check details</small></p>
        </div>
      </div>
 
  
  </div>
  
</div>
