<div class="container height-100p">
  <div
    class="height-100p flex-gap-20px flex-box justify-content-center align-items-center"
  >
    <div class="card" (click)="onclick('company')">
      <img
        src="../../../../../assets/company.png"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Company Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('user')">
      <img
        src="../../../../../assets/users.jfif"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>User Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('module')">
      <img 
        src="../../../../../assets/module.jpg"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Module Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <!-- <div class="card" (click)="onclick('tax')">
      <img
        src="../../../../../assets/tax.jpg"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Tax Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('optical')">
      <img
        src="../../../../../assets/opticals.jpg"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Optical Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div>
    <div class="card" (click)="onclick('invoice')">
      <img
        src="../../../../../assets/invoice.png"
        alt="Avatar"
        style="width: 100%; height: 70%"
      />
      <div class="container-card">
        <h4><b>Invoice Master</b></h4>
        <p><small class="form-text text-muted">check details</small></p>
      </div>
    </div> -->
  </div>
</div>
