<div class="height-100p">
  <div
    class="flex-box justify-content-center flex-gap-5px height-100p align-items-center"
  >
    <div class="icon-bar flex-box box-shadow-type2 align-items-center justify-flex-space-between">
      <a
        matTooltip="HOME"
        matTooltipPosition="below"
        [ngClass]="{
          active: activeIcon === 'home',
          'fa-2x': activehover === 'home'
        }"
        (click)="iconCilcked('home')"
        (mouseover)="iconhover('home')"
        (mouseout)="iconOut()"
        ><i class="fa fa-1x fa-home wow fadeIn"></i
      ></a>
      <a
      
        matTooltip="SIGN-OUT"
        matTooltipPosition="below"
        [ngClass]="{
          active: activeIcon === 'sign-out',
          'fa-2x': activehover === 'sign-out'
        }"
        (click)="iconCilcked('sign-out')"
        (mouseover)="iconhover('sign-out')"
        (mouseout)="iconOut()"
        ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
       <a
        matTooltip="PROFILE"
        matTooltipPosition="below"
        [ngClass]="{
          active: activeIcon === 'profile',
          'fa-2x': activehover === 'profile'
        }"
        (click)="iconCilcked('profile')"
        (mouseover)="iconhover('profile')"
        (mouseout)="iconOut()"
        ><i class="fa-solid fa-user"></i></a>
     <!-- <a
        matTooltip="WORLD"
        matTooltipPosition="below"
        [ngClass]="{
          active: activeIcon === 'world',
          'fa-2x': activehover === 'world'
        }"
        (click)="iconCilcked('world')"
        (mouseover)="iconhover('world')"
        (mouseout)="iconOut()"
        ><i class="fa fa-1x fa-globe wow fadeIn"></i
      ></a>
      <a
        matTooltip="DELETE"
        matTooltipPosition="below"
        [ngClass]="{
          active: activeIcon === 'delete',

          'fa-2x': activehover === 'delete'
        }"
        (mouseout)="iconOut()"
        (mouseover)="iconhover('delete')"
        (click)="iconCilcked('delete')"
        ><i class="fa fa-1x fa-trash wow fadeIn"></i
      ></a> -->
    </div>
   
  </div>
 
</div>
